@import "./_variables.styl";

.light-block {
  box-sizing: border-box;
  padding: 20px;
  background-color: $pure-white;

  @media screen and (max-width: $tablet - 1) {
    padding: 10px;
  }

  @media screen and (min-width: $tablet) {
    padding: 40px;
  }
}

