@import "./_variables.styl";
@import "./normalize.styl";

// base styles
@import "./typography.styl";
@import "./layout.styl";
@import "./basic-styles.styl";
@import "./animations.styl";

body {
  overflow-x: hidden;
}

.container {
  max-width: $tablet;
  margin: 0 auto;
  padding: 0 10px;
}
